.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
}

.submitButton {
  width: 320px;
  height: 60px;
  border-radius: 10px;
  background-color: blue;
  color: #fff;

  &:disabled {
    background-color: #ddd;
    color: #aaa;
  }
}
