.buttonContainer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.submitButton {
  width: 320px;
  height: 60px;
  border-radius: 10px;
  background-color: blue;
  color: #fff;

  &:disabled {
    background-color: #ddd;
    color: #aaa;
  }
}
