.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
}

.submitButton {
  width: 320px;
  height: 60px;
  border-radius: 10px;
  background-color: #d9d9d9;
}
