.outerXl {
  width: 20rem;
  height: 20rem;
  background: yellowgreen;
}

.outerLg {
  width: 15rem;
  height: 15rem;
  background: aqua;
}

.outerMd {
  width: 10rem;
  height: 10rem;
  background: pink;
}