.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    height: 100px;
  }
}

.ingImg {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("src/assets/earth.png");
  background-size: cover;
}

.backButton {
  margin: 10px;
  background-color: none;
  border: 1px solid rgb(173, 173, 173);
  cursor: pointer;
  height: 40px;
  width: 90%;
}

.backButton:hover {
  background-color: #ccc;
  color: rgb(249, 249, 249);
}
