.countryGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.countryInput {
  display: block;
  width: 100%;
  height: 52px;
}

.countryButton {
  width: 100%;
  height: 52px;
}
