@import '/src/styles/variables';

.wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 54px;
  background-color: $BLACK-FFF;

  h1 {
    @include headline1;
  }
}