.container {
  width: 68px;
  height: 68px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 80px;
  right: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.text {
  color: var(--black-fff, #fff);
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.2px;
}
