// 글로벌 css

// reset css
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  color: inherit;
}

* {
  box-sizing: border-box;
}

// Pretendard font
@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/Pretendard-Thin.woff") format("woff");
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/Pretendard-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Pretendard-Light.woff") format("woff");
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/Pretendard-Black.woff") format("woff");
}

@font-face {
  font-family: "CWDangamAsac-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/ChangwonDangamAsac-Bold_0712.ttf") format("woff");
}
