.wrapper {
  overflow: auto;
}

.mapBox {
  display: inline-block;
  vertical-align: middle;
  width: 500px;
  height: 100vh;
}

.country {
  &:focus {
    display: none;
  }
}

.clickedCountry path {
  fill: #1472ff !important;
}

.popup {
  color: white;
  width: 125px;
  height: 50px;
  background: #FF9595;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  p {
    font-size: 1.25rem;
    word-break: break-all;
  }
}