.container {
  gap: 10px;

  width: 360px;
  height: 54px;
  padding: 10px 20px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuButton {
  gap: 4px;
  top: 19px;
  right: 34.5px;

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  position: absolute;
  top: 19px;
  left: 26px;
  cursor: pointer;
}

.title {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.18px;
}
