.LocationGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.LocationInput {
  display: block;
  width: 100%;
  height: 52px;
}

.LocationButton {
  width: 100%;
  height: 52px;
}
