@use "src/styles/variables" as v;

.wrapper {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  height: 100vh;
  z-index: -1;
  background: #fff;
}

.mainTitle {
  display: flex;
  justify-content: center;
  font-family: "CWDangamAsac-Bold";
  color: var(--main-300-main, #4791ff);
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subTitle {
  display: flex;
  justify-content: center;
  color: var(--main-200, #7aafff);
  font-family: Pretendard Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introLogo {
  margin-top: 30px;
  width: 170px;
  height: 219px;
}

.btnBox {
  margin-top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 320px;
  height: 50px;
  padding: 10px;
  border-radius: 8px;
}

.loginBtn {
  background: v.$MAIN-400;
  color: v.$BLACK-FFF;

  @include v.headline3;
}

.exploreBtn {
  background: v.$BLACK-FFF;

  span {
    border-bottom: 1px solid black;
    padding-bottom: 4px;

    @include v.body1;
  }
}
