.gnbWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 360px;
  height: 64px;
  background: slategray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.mapSection {
}