.gnbWrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 360px;
  height: 60px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 22px;
  flex-shrink: 0;
}
.gnbBox {
  width: 94px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex: 1 0 0;
}
.font {
  color: var(--black-aaa, #aaa);
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 15px */
  letter-spacing: -0.2px;
}

.focus {
  color: var(--main-300-main, #4791ff);
}
