.container {
  width: 360px;
  height: 740px;

  position: absolute;

  background-color: #ffffff;
}

.wrapper {
  width: 360px;
  height: 576px;

  background-color: var(--black-f-7-f-7-f-7, #f7f7f7);
}
