.container {
  width: 360px;
  height: 54px;
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.2px;
}
