.container {
  width: 320px;
  padding: 20px;

  display: flex;
  flex-direction: column;

  border-radius: 8px;
  border: 1px solid var(--black-f-2-f-2-f-2, #f2f2f2);
  background: #fff;
  cursor: pointer;
}

.titleWrapper {
  gap: 8px;

  display: flex;
  flex-direction: column;
}

.tagChipWrapper {
  gap: 4px;

  display: flex;
  align-items: center;
}

.tag {
  height: 20px;
  padding: 2px 5px;

  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.24px;

  border-radius: 3px;
}

.year {
  color: var(--main-500, #005ae0);
  background-color: var(--main-50, #cce0ff);
}

.country {
  color: var(--point-color-dark, #ff5824);
  background: var(--point-color-sub, #ffe2d8);
}

.flag {
  width: 30px;
  height: 18px;

  border-radius: 4px;
}

.title {
  color: var(--black-222, #222);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.28px;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
}

.descriptionBox {
  gap: 4px;

  display: flex;
}

.description {
  color: var(--black-666, #666);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.24px;
}

.image {
  width: 54px;
  height: 54px;

  border-radius: 4px;
}
