@use "src/styles/variables" as v;

.bottomSheetConatiner {
  position: fixed;
  width: 360px;
  height: 480px;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 0;
  z-index: 11;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;

  background: v.$BLACK-FFF;

  @include v.shadow1;
}

.overlay {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: v.$BLACK-DDD;
  opacity: 0.8;

  @include v.shadow1;
}

.bottomSheetContent {
  padding: 10px 20px 0;
}

.bottomSheetHeader {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomSheetBody {
  height: 370px;
}

.bottomSheetFooter {
}

.bottomSheetSaveButton {
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: blue;
}
