.container {
  height: 100vh;
  background: #f7f7f7;
}
.stamp {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 20px;
  gap: 25px;
}
.noStamp {
  display: flex;
  width: 358px;
  height: 815px;
  align-items: center;
  justify-content: center;
  background: #f7f7f7;
  gap: 25px;
}
.stampBox {
  float: left;
  justify-content: space-between;
  width: 89px;
  height: 81px;
}
.nameBox {
  display: flex;
  justify-content: center;
  color: #000;

  /* body/b1 */
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 22.5px */
  letter-spacing: -0.3px;
}
.flag {
  width: 90px;
  height: 54px;
  background-color: lightgray;
}
